<div class="site-shell min-h-screen bg-[#000] text-gray-100 md:flex font-sans">
  <.sidebar current_url={@current_url} />

  <main class="site-main">
    <div class="site-content">
      {@inner_content}
    </div>
  </main>
</div>
