<div class="min-h-screen bg-[#000] text-gray-100 md:flex">
  <.sidebar current_url={@current_url} />

  <main class="flex-1 md:pl-[240px] md:pr-0 px-12 py-20">
    <div class="mx-auto max-w-xl">
      {@inner_content}
    </div>
  </main>
</div>
